body {
	margin: 0px !important;
	padding: 5px !important;
}
a {
    outline: none !important; 
}
label {
    color:  #007bff !important;
}

.table .small-td {
    width: 100px;
    text-align: center;
    font-size: 150%;
    padding-top: 5px;
}